@import '~antd/lib/style/themes/default.less';

@pro-table-prefix-cls: ~'@{ant-prefix}-pro-table';

.@{pro-table-prefix-cls} {
  .wrapper1 {
    width: 100%;
    overflow: auto;
    height: 12px;
    visibility: hidden;
    // display: none;
  }
  z-index: 1;
  &:not(:root):fullscreen {
    min-height: 100vh;
    overflow: auto;
    background: @component-background;
  }

  .@{ant-prefix}-pagination {
    padding: 0 24px;
  }

  .@{ant-prefix}-table-row .@{ant-prefix}-table-cell:first-child {
    padding-left: 24px;
    a {
      padding: 0;
    }
  }

  .@{ant-prefix}-table-content tr:first-child > th:first-child {
    padding-left: 24px;
    a {
      padding: 0;
    }
  }

  td.@{ant-prefix}-table-cell {
    > a {
      font-size: 14px;
    }
  }
}
