import React from "react";
import { router } from 'dva';
import asyncComponent from "util/asyncComponent";
/* PLOP_INJECT_IMPORT */

const { Route, Switch } = router;
const {{pascalCase rootPathName}} = ({ match }) => (
  <Switch>
    {/* PLOP_INJECT_EXPORT */}
  </Switch>
);

export default {{pascalCase rootPathName}};
