@import '~antd/lib/style/themes/default.less';

@pro-table-alert-prefix-cls: ~'@{ant-prefix}-pro-table-alert';

.@{pro-table-alert-prefix-cls} {
  margin-bottom: 16px;

  &-info {
    display: flex;
    align-items: center;
    transition: 0.3 all;
    &-content {
      // flex: 1;
    }
    &-total {
      flex: 1;
    }
    &-option {
      min-width: 48px;
      padding-left: 16px;
    }
  }
}
