@import '~antd/lib/style/themes/default.less';
@import "../global/variables.less";

.@{custom-prefix}-header-scrolled{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.@{custom-prefix}-detail-item-wrapper {
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;

  .@{custom-prefix}-detail-item-label {
    display: inline-block;
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.85);
  }

  .@{custom-prefix}-detail-item-content {
    font-weight: bolder;
  }
}

.@{custom-prefix}-error-icon {
  cursor: pointer;
  color: @error-color;
  margin-right: 24px;

  i {
    margin-right: 4px;
  }
}

.@{custom-prefix}-error-popover {
  :global {
    .ant-popover-inner-content {
      padding: 0;
      max-height: 290px;
      overflow: auto;
      min-width: 256px;
    }
  }
}

.@{custom-prefix}-error-list-item {
  list-style: none;
  border-bottom: 1px solid @border-color-split;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background: @primary-1;
  }

  &:last-child {
    border: 0;
  }

  .@{custom-prefix}-error-icon {
    color: @error-color;
    float: left;
    margin-top: 4px;
    margin-right: 12px;
    padding-bottom: 22px;
  }

  .@{custom-prefix}-error-field {
    font-size: 12px;
    color: @text-color-secondary;
    margin-top: 2px;
  }
}

.@{custom-prefix}-toolbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  height: 56px;
  line-height: 56px;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.03);
  background: #fff;
  border-top: 1px solid @border-color-split;
  padding: 0 24px;
  z-index: 9;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .@{custom-prefix}-toolbar-left {
    float: left;
  }

  .@{custom-prefix}-toolbar-right {
    float: right;
  }

  button+button {
    margin-left: 8px;
  }
}

.@{custom-prefix}-wrapper-select-table {
  background: rgb(194, 191, 191);
  padding: 5px;
  border-radius: 6px;

  &>*>.ant-card {
    margin-bottom: 0px;
  }
}

.@{custom-prefix}-drawer-detail {
  &>.ant-drawer-content-wrapper {
    width: 45vw !important;
  }
}

.@{custom-prefix}-custom-collapse {
  .@{custom-prefix}-custom-panel {
    background: #f7f7f7;
    border-radius: 2px;
    // margin-bottom: 24px;
    border: 0px;
    overflow: hidden;
    border-bottom: 1px dashed #ccc;
  }
}

.@{custom-prefix}-icon-action {
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.ant-tree-node-selected {
  .@{custom-prefix}-tree-node-toolbar {
    display: flex !important;
  }
}

.@{custom-prefix}-checklist-toolbar {
  display: flex;
  justify-content: space-between;
}

.@{custom-prefix}-checklist-tree {
  .ant-tree-switcher {
    line-height: 32px;
  }
  .ant-tree-node-content-wrapper  {
    display: flex;
    align-items: center;
    justify-content: start;

    .ant-tree-title {
      flex: auto;
    }
  }

  .@{custom-prefix}-tree-node {
    border-bottom: 1px solid #f8f8f8;

    .@{custom-prefix}-tree-node-title {}

    .@{custom-prefix}-tree-node-toolbar {
      display: flex;

      .@{custom-prefix}-tree-node-toolbar-icon {}

      .@{custom-prefix}-tree-node-toolbar-icon-tag,
      .@{custom-prefix}-tree-node-toolbar-icon-cal,
      .@{custom-prefix}-tree-node-toolbar-icon-assign,
      .@{custom-prefix}-tree-node-toolbar-icon-add,
      .@{custom-prefix}-tree-node-toolbar-icon-edit-group,
      .@{custom-prefix}-tree-node-toolbar-icon-edit-task {
        visibility: hidden;
      }
    }

    &:hover {

      .@{custom-prefix}-tree-node-toolbar-icon-tag,
      .@{custom-prefix}-tree-node-toolbar-icon-cal,
      .@{custom-prefix}-tree-node-toolbar-icon-assign,
      .@{custom-prefix}-tree-node-toolbar-icon-add,
      .@{custom-prefix}-tree-node-toolbar-icon-edit-group,
      .@{custom-prefix}-tree-node-toolbar-icon-edit-task {
        visibility: visible;
      }

      /* .@{custom-prefix}-tree-node-toolbar {
        display: block;
      } */
    }
  }
}

.@{custom-prefix}-divider {
  margin: 6px 0;
}

.@{custom-prefix}-checklist-board {
  .@{custom-prefix}-checklist-board-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .@{custom-prefix}-checklist-board-column {
    height: max-content;
    min-height: 100px;
    width: 160px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    border: 2px solid #7d7d7d;
    /* Параметры границы */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .do-it-column {
    background-color: #fff0f0;
  }

  .in-progress-column {
    background-color: #fef2e7;
  }

  .awaiting-review-column {
    background-color: #fffada;
  }

  .done-column {
    background-color: #f5ffe5;
  }

  .movable-item {
    border-radius: 5px;
    background-color: #fafdff;
    height: 100px;
    width: 140px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  }
}

.@{custom-prefix}-saletarget-report-table {
  .ant-pro-table .ant-table-row .ant-table-cell:first-child {
    padding-left: 8px !important;
  }
}

.@{custom-prefix}-editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.@{custom-prefix}-checklist-task-detail {

  .@{custom-prefix}-complete-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    &>a.@{custom-prefix}-complete-combobtn {
      font-size: 30px;
      padding: 0 2px;
      height: 42px;
      text-decoration: none !important;

      &>span.anticon {
        font-size: 14px;
        vertical-align: top;
        margin-left: 0px;
        margin-top: 16px;
      }

    }
    &>span{
      margin-right: 2px;
      margin-top: 2px;
    }
  }
}

.@{custom-prefix}-checklist-task-detail.backlog {
  & .complete-btn:before {
    content: "\e918";
  }
}

.@{custom-prefix}-checklist-task-detail.done {
  & .complete-btn:before {
    content: "\e917";
  }
}

.@{custom-prefix}-checklist-task-detail.processing {
  & .status-icon .pie {
    top: 1px;
  }
}

.@{custom-prefix}-checklist-task-detail.test {
  & .status-icon .pie {
    top: 1px;
  }
}

// .@{custom-prefix}-checklist-task-detail,
.@{custom-prefix}-checklist-task-detail.backlog,
.@{custom-prefix}-checklist-task-detail.done,
.@{custom-prefix}-checklist-task-detail.processing,
.@{custom-prefix}-checklist-task-detail.test {
  .@{custom-prefix}-complete-btn-wrap {
    &>a.@{custom-prefix}-complete-combobtn {
      &>i.complete-btn {
        &:hover > .status-icon {
          visibility: hidden;
          display: none;
        }

        &:hover::before {
          content: "\e917"
        }

        &:hover:not(.lb) {
          color: #9ac656
        }
      }
    }
  }
}

ul.@{custom-prefix}-dropdown-status-menu {
  margin: 0;
  padding: 10px;
  display: block;
  max-width: 300px;
  border-radius: 4px;
  background-color: rgb(241, 236, 236);
  list-style: none;

  &>li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;

    &>li>a {
      cursor: pointer;
    }
  }

  &>li.u-item [class^="ic-quire"]:not(.lb),
  &>li.u-item [class*=" ic-quire"]:not(.lb),
  &>li.u-item .i-label:not(.lb) {
    color: rgba(0, 0, 0, 0.58);
  }

  &>li.u-item [class^="ic-quire"],
  &>li.u-item [class*=" ic-quire"],
  &>li.u-item .i-label {
    width: 14px;
    margin-right: 8px;
    font-size: 16px;
  }

  &>li.u-item [class^="ic-quire"]:after,
  &>li.u-item [class*=" ic-quire"]:after,
  &>li.u-item .i-label:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  &>li>a {
    display: block;
    padding: 3px 20px 3px 0px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
  }

  &>li.u-item a {
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &>li.u-item.active>a,
  li.u-item.active>a .desc,
  li.u-item.active>a[data-desc]:after {
    color: #9ac656 !important;
  }

  &>li.u-item.active>a {
    background-color: transparent;
  }

  &>li.u-item .u-name,
  &>li.u-item .u-email,
  &>li.u-item .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.status-icon.b-1 .pie {
  border-width: 1px;
}

.status-icon .pie .pie-mask-wrap,
.status-icon .pie .pie-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
}

.ic-quire-state .pie .pie-mask {
  background-color: #fff;
}

.status-icon .pie .pie-mask {
  background-color: #fff;
}

.ic-quire-state .pie {
  top: 0;
}

.status-icon .pie {
  border-radius: 50%;
  position: relative;
  top: 2px;
}

.iconc-02.pie {
  background-color: rgba(255, 150, 43, 0.5);
  border: 2px solid #ff962b;
}

.iconc-12.pie {
  background-color: rgba(230, 87, 92, 0.5);
  border: 2px solid #e6575c;
}

.x14 {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  word-break: break-all;
  overflow: hidden;
  font-size: 7px;
}

.x26 {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  word-break: break-all;
  overflow: hidden;
  font-size: 13px;
}
