.value-customer {
  font-size: 1.2em;
  font-weight: 400;
  margin-left: 5px;
  color: red;
}
.card-project {
  // background-color: #a5d6a7;
  background-image: none;
  span{
    color: #fff;
  }
  &:hover {
    .imgproject{
      transform: scale(1.05);
      transition: 0.5s;
      opacity: 0.9;
    }
  }
}
