@import '~antd/lib/style/themes/default.less';
@import "../global/variables.less";

.is-info-project{
    position: relative;
    z-index: 1;
    .@{custom-prefix}-list-project{
        border: 1px solid gray;
        display: inline-block;
        padding: 20px;
        background:#fff;
        border-radius: 20px;
        opacity: 0;
        position: absolute;
        z-index: 9999;
        top: 85%;
        left: 5%;
        visibility: visible;
    }
    &:hover{
        .@{custom-prefix}-list-project{
            opacity: 1;
            transition: 0.5s;
            visibility: visible;
        }
    }
    .nv-hover-info{
       
    }
}

.@{custom-prefix}-info-classroom{
    line-height: 1.5;
    margin-top: 25px;
}

.@{custom-prefix}-chart-home{
    position: relative;
    z-index: 1;
    padding-top: 20px;
    padding: 24px;
    &__chart{
        position: absolute;
        z-index: 2;
        top: 0;
        right: 20px;
        .ant-dropdown-trigger{
            border: none !important;
        }
    }
    &__title{
        position: absolute;
        z-index: 2;
        top: 5px;
        left: 15px;
        span{
            font-weight: 700;
        }
    }
    .gx-card-full{
        .ant-card-body{
            .gx-actchart{
                padding-top: 2rem !important;
            }
        }
    }
}

.is-center{
    width: 60%;
    margin: 0 auto 20px !important;
    .@{custom-prefix}-color-chart{
        justify-content: center;
    }
    
}
.@{custom-prefix}-select-view{
    width: 150px !important;
}
.@{custom-prefix}-chart-homepage.view1{
    justify-content: center;
    .ant-card-body{
        position: relative;
        z-index: 0;
    }
}
.@{custom-prefix}-chart-homepage.view2{
    .ant-card-body{
        position: relative;
        z-index: 0;
    }
    .ant-col-xl-12{
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
    .c-max-width{
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
    .@{custom-prefix}-chart-home{
        .@{custom-prefix}-build-infochart{
            margin-top: 7%;
            margin-left: -30%;
        }
    }
}
.is-build-chartclass{
    .ant-card-body{
        .ant-row{
            align-items: center;
        }
    }
}

.is-scroll{
    overflow: scroll !important;
}

.@{custom-prefix}-group-view{
    display: flex;
    align-items: center;
    margin-right: -20px;
    margin-bottom: 30px;
    &__icon{
        margin-left: 5px;
    }
}

.@{custom-prefix}-note-chart{
    margin-left: 22%;
    width: 70%;
    margin-bottom: 20px;  
    .@{custom-prefix}-color-chart{
        display: flex;
        align-items: center;
        span{
            margin-left: 5px;
        }
        &__blue{
            width: 15px;
            height: 15px;
            background: #0e88fe;    
        }
        &__orange{
            width: 15px;
            height: 15px;
            background: #fa8043;
        }
        &__yellow{
            width: 15px;
            height: 15px;
            background: #fcbb28;
        }
        &__green{
            width: 15px;
            height: 15px;
            background: #32c49f;
        }
    }
}
.@{custom-prefix}-build-infochart{
    margin-top: 14%;
    .@{custom-prefix}-info-classroom{
        margin-top: 10px;
    }
}
.@{custom-prefix}-width-50{
    width: 50%;
    display: inline-block;
}
.@{custom-prefix}-group-calender{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 99;
    top: 20px;
    right: 10%;
    .@{custom-prefix}-select-month{
        margin: 0 10px;
        select{
            padding: 3px;
            border-radius: 10px;
            &:focus{
                outline: none;
            }
        }
    }
}
.c-fix-chartful{
    overflow: scroll !important;
    &__barchart{
      width: 2000px !important;
    }
  }
.@{custom-prefix}-namechart{
    text-align: center;
    span{
        font-weight: 700;
        font-size: 16px;
        margin-top: 20px;
    }
}
.@{custom-prefix}-group-history{
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar{
        width: 0 !important;
        display: none;
    }
}
.@{custom-prefix}-full-height{
    height: 100%;
}
.c-group-btn{
    display: flex;
    align-items: center;
    img{
        cursor: pointer;
        border-radius: 50%;
    }
}

//css badge

.@{custom-prefix}-badge-all{
.ant-badge-status-dot{
    width: 20px;
    height: 20px;
    }
}

.@{custom-prefix}-fix-table{
    table{
        text-align: center;
        colgroup{
            col{
                width: 10% !important;
                min-width: 10% !important;
            }
        }
        thead{
            tr{
                &:nth-child(1){
                    th{
                        &:nth-child(1){
                            background: rgb(134, 131, 131);
                            color: #fff;
                            text-align: center;
                        }
                        &:nth-child(2){
                            background: rgb(2, 2, 129);
                            color: #fff;
                            text-align: center;
                        }
                        &:nth-child(3){
                            background: rgb(150, 69, 3);
                            color: #fff;
                            text-align: center;
                        }
                    }
                }
                &:nth-child(2){
                    th{
                        text-align: center;
                        background: rgb(187, 181, 181);
                        &:nth-child(n+4){
                            background: rgb(221, 152, 88);
                        }
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    &:nth-child(1){
                        background: rgb(223, 219, 219) !important;
                    }
                    &:nth-child(n+2){
                        background: rgb(156, 199, 235);
                    }
                    &:nth-child(n+5){
                        background: rgb(228, 201, 161);
                    }
                }
            }
        }
    }
}
.@{custom-prefix}-sale-agency{
    position: relative;
    z-index: 1;
    padding-top: 50px;
    .@{custom-prefix}-fix-download{
        position: absolute;
        z-index: 2;
        top: 0px;
        right: 10px;
        margin-left: -30px;
        border-radius: 10px;
        padding: 5px 10px;
        background: #fff;
        color: #000;
        &:hover{
            background: rgb(116, 133, 235);
            color: #fff;
            
            transition: 0.5s;
        }
    }
}
//------------Booking--------
.@{custom-prefix}-booking-hover{
    &__title{
        display: flex;
        justify-content: center;
        background: rgb(84, 165, 2);
        align-items: center;
        padding: 10px 0;
        span{
            color: #fff;
            display: block;
            line-height: 1.4;
        }
        &__left{
            display: flex;
            align-items: center;
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px solid #fff;
            
            &__text{
                span:nth-child(2){
                    font-weight: 700;
                }
            }
            &__icon{
                margin-left: -5px;
                margin-right: 5px;
            }
        }
        &__right{
            span:nth-child(2){
                font-weight: 700;
                border-right: 1px solid #fff;
            }
        }
    }
}